{% extends 'base.html' %}

{% block head %}
<title>Cards against Alcohol</title>
{% endblock %}

{% block body %}
<div style="background-image: url('https://wallpapercave.com/wp/6v6sU3h.jpg');">
    <div class="content" style='background-color: rgba(252, 219, 184, 0.514);'>
        <h2 style="text-align: center">Cards against Alcohol</h2>
        <br><br>
        <h1 style="text-align: center">{{ card }}</h1>
        <br>

        {% for player in players %}
        <h3 style="text-align: center">{{ qid[player.id - 1] }}. {{ ans[player.id - 1] }}</h3>
        {% endfor %}

        <br><br>
        {% for player in players %}
                <td class="form">
                    <form actions="/game/" method="POST" style="text-align: center">
                        <p style="font-size:18px">
                            <td>Player {{ player.id }}:</td>
                            <td >{{ player.content }}</td>
                            </p>
                        <input type="text" name="answer" id="answer" value="{{ bot_answers[player.id - 1] }}">
                        <input type="submit" value="Submit">
                    </form>

                </td>
                <br><br>
        {% endfor %}

        {% if players|length == ans|length %}
        <h3 style="text-align: center">
            <a href="/game/voting/">Let's vote!</a>
        </h3>
        <br>
        
        {% else: %}
        <h4 style="text-align: center">Submit 1 answer per player.<br> </h4> 
        <h5 style="text-align: center">
            1. Think of a funny answer for the "blank" <br>
            (A generated answer has already been filled in) <br>
            2. Adjust form to own preference (optional)<br>
            3. Submit your answer! <br>
            Note: Identical answers cannot be submitted.
        </h5>
        {% endif %}

        {% if players|length < ans|length %}
        <h3 style="text-align: center">
            <p>Invalid number of responses! Reset below.</p>
        </h3>
        <br>
        {% endif %}

        <h5 style="text-align: center">
        <a href="/game/new_card">New card</a> <br>
        <a href="/game/reset/">Reset answers</a> <br>
        <a href="/">Change players</a>
        </h5>
        <br><br><br><br><br>
        <h6 style="text-align: center">Brought to you by Gerian, Maya & Duco</h6>
    </div>
</div>
{% endblock %}